img {margin: 10px; box-shadow: 2px 2px 2px 2px lightgrey;}


li {list-style-type: none; margin-left: -35px; }

li Span {font-weight: bold;  }

p {font-size: 12pt; text-wrap: wrap; margin:5px;}

.AnimalName {text-align: left; font-weight: bold; font-size: 20pt; Text-shadow: 1px 1px grey;  margin: 12px;}

.fancy {font-size: 12pt; font-style: italic; text-wrap:wrap;}

.cardlayout {display: flex; flex-wrap: wrap; }

.Outercontainer {width:320px; border: 1px solid black; ; text-wrap: wrap; background-color:lightblue; box-shadow: 5px 5px 5px 5px lightgrey;}

.CatOutercontainer {width:320px; border: 1px solid black; ; text-wrap: wrap; background-color:lightyellow; box-shadow: 5px 5px 5px 5px lightgrey;}

.DogOutercontainer {width:320px; border: 1px solid black; ; text-wrap: wrap; background-color:lightcoral; box-shadow: 5px 5px 5px 5px lightgrey;}

.BirdOutercontainer {width:320px; border: 1px solid black; ; text-wrap: wrap; background-color:lightgreen; box-shadow: 5px 5px 5px 5px lightgrey;}

.Innercontainer {text-align: left; border: 1px solid black; text-wrap: wrap; margin: 10px; padding:20px;background-color:lightgray; border-radius: 10px; box-shadow: 2px 2px 2px 2px grey;}